.modal-square {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.modal-square h2 {
    display: block;
    font-size: 2em;
    font-weight: 600;
    margin-top: .5rem;
}

.modal-square p {
    display: block;
    font-size: .8em;
    font-weight: 300;
    margin-top: 1.5rem;
}

.modal-square .icon {
    width: 100%;
    font-size: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.color-bar {
    height: 25px;
    border-bottom: 2px solid #080808 !important;
  }

  
.modal-square .containerBoard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-square .name {
  font-size: 14px;
  font-weight: 900;
}
.modal-square .window {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 55px;
  height: 55px;
  background: #ff7300;
  border: 2px solid #080808;
}
.modal-square .person {
  position: absolute;
  font-size: 40px;
}
.modal-square .bar {
  height: 55px;
  width: 2px;
  background: #080808;
}